<!-- change_credentials.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Change Credentials</title>
</head>
<body>
    <h1>Change Credentials</h1>
    <form method="POST" action="{{ url_for('change_credentials') }}">
        <input type="hidden" name="teacher_id" value="{{ teacher_id }}">
        <div>
            <label for="firstname">Firstname:</label>
            <input type="text" id="firstname" name="firstname">
        </div>
        <div>
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname">
        </div>
        <div>
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" id="date_of_birth" name="date_of_birth">
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
        </div>
        <button type="submit">Update</button>
    </form>
</body>
</html>
