<!-- student_credentials.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Credentials</title>
</head>
<body>
    <h1>Student Credentials</h1>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Date of birth</th>
        </tr>
        <tr>
            <td>{{student[0]}}</td>
            <td>{{student[1]}}</td>
            <td>{{student[2]}}</td>
        </tr>
    </table>

    <a href="{{ url_for('success_student') }}">Back to Home Page</a>
</body>
</html>
