<!-- teacher_credentials.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Credentials</title>
</head>
<body>
    <h1>Teacher Credentials</h1>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Date of birth</th>
        </tr>
        <tr>
            <td>{{teacher[0]}}</td>
            <td>{{teacher[1]}}</td>
            <td>{{teacher[2]}}</td>
        </tr>
    </table>
    <form method="POST" action="{{ url_for('teacher_credentials') }}">
            <input type="hidden" name="teacher_id" value="{{ teacher_id }}">
            <button type="submit">Change Credentials</button>
        </form>
    <a href="{{ url_for('success_teacher') }}">Back to Home Page</a>

</body>
</html>
